<div class="developers-wrapper">
    <h1>Featured Developers</h1>
    <p class="intro">Use our featured developers for your web projects</p>
    <div class="block-image">
        <div class="item item-1">
            <div class="dev-info">
                <div class="name"><p>Agbama Ulimhuka</p></div>
                <div class="details">
                    <div class="language">
                        <p><img src="../img/languages/webflow.svg" alt="webflow">Webflow developer</p>
                    </div>
                    <div class="chat"><img src="../img/svg/chat.svg" alt="chat"></div>
                </div>
            </div>
        </div>
        <div class="item item-2">
            <div class="dev-info">
                <div class="name">
                    <p>Surita Patnam</p>
                </div>
                <div class="details">
                    <div class="language">
                        <p><img src="../img/languages/bubble.svg" alt="Bubble">Bubble developer</p>
                    </div>
                    <div class="chat"><img src="../img/svg/chat.svg" alt="chat"></div>
                </div>
            </div>
        </div>
        <div class="item item-3">
            <div class="dev-info">
                <div class="name">
                    <p>Richard Bomaventure</p>
                </div>
                <div class="details">
                    <div class="language">
                        <p><img src="../img/languages/react.svg" alt="react">React.js developer</p>
                    </div>
                    <div class="chat"><img src="../img/svg/chat.svg" alt="chat"></div>
                </div>
            </div>
        </div>
        <div class="item item-4">
            <div class="dev-info">
                <div class="name">
                    <p>Elliana James</p>
                </div>
                <div class="details">
                    <div class="language">
                        <p><img src="../img/languages/vue.svg" alt="vue">Vue.js developer</p>
                    </div>
                    <div class="chat"><img src="../img/svg/chat.svg" alt="chat"></div>
                </div>
            </div>
        </div>
        <div class="item item-5">
            <div class="dev-info">
                <div class="name">
                    <p>Richard Bomaventure</p>
                </div>
                <div class="details">
                    <div class="language">
                        <p><img src="../img/languages/react.svg" alt="react">React.js developer</p>
                    </div>
                    <div class="chat"><img src="../img/svg/chat.svg" alt="chat"></div>
                </div>
            </div>
        </div>
        <div class="item item-6">
            <div class="dev-info">
                <div class="name">
                    <p>Samuel Oghenakaro</p>
                </div>
                <div class="details">
                    <div class="language">
                        <p><img src="../img/languages/webflow.svg" alt="webflow">Webflow developer</p>
                    </div>
                    <div class="chat"><img src="../img/svg/chat.svg" alt="chat"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="button"><button>Get featured</button></div>
    
</div>